.head_title {
	width:70vw;
	height:20vw;
	left:15vw;
}

.main_content {
    position:absolute;
	top:50vw;
	left:30vw;
	width:40vw;
	min-height:70vw;
/*	background:red;*/
}

.content_img img{
	width:40vw;
	height:40vw;
	margin-top:5vw;
}

.count_day_bottom {
    font-size: 5vw;
    margin-top: 1vw;
    font-weight: bold;
    text-align: center;
}

.count_day {
	font-size: 11vw;
    margin-top: -29vw;
    font-weight: bold;
    text-align: center;
}