.main_content {
	position:absolute;
	top:40vw;
	left:15vw;
	width:70vw;
	height:70vw;
	/*background:red;*/
}

.content_item img {
    width: 100%;
    height: 100%;
}

.my_bottom_bt {
	
    top: 135vw;
   
}

